body{
  background-color: gray;
}
.App {
  text-align: center;
  
}
.task-container{
  display: grid;
  grid-template-columns:1fr;
  gap: 1rem;
  place-items: center;
}
@media screen and (max-width: 600px) {
  .task-container{
    display: grid;
    grid-template-columns:1fr;
  }
}
fieldset{
  background-color: rgba(222, 184, 135, .3);
  text-align: left;
  border: none;
  height:10rem;
  max-width: 30rem;
}
legend{
  background-color: yellow;
}
.new-task-form {
  background-color: rgba(175, 223, 235, .5);
}
#edit-task-form{
  background-color: rgba(175, 223, 235);
  text-align: right;
  align-content: right;
  margin: 1rem;
  /* z-index: 5; */
  transform: translate(3rem, -6rem);
  width: fit-content;
  
}
.index-single-task{
  max-width: 10rem;
  
}
/* .test{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
} */
/* input{
  background-color: transparent;
  border: none;
} */
.category-tag{
  color: greenyellow;
}
.cont1 {
  
  color: red;
}
.button {
  border-radius: 8px;
  font-size: 20px;
  background-color: red;
  color: white;
  margin-left: 70px;
  margin-top: 100px;
}
.cont2 {
  
  color: green;
}
.cont3{
  color:blue
}
#fieldsetbox{
  background-color: aquamarine;
  display: flex;
  height: fit-content;
  width: fit-content;
}
.index-single-task-details{
  word-wrap: break-word;
  width: 10rem;
  height: stretch;
}
