
*{
  font-family: 'Open Sans', sans-serif;
  border-radius: 2px;
  padding: 3px;
  margin: 3px;
}
body{
  background-color: gray;
}
.App {
  text-align: center;
}
.task-container{
  display: grid;
  grid-template-rows:1fr;
  gap: 1rem;
  /* place-items: center; */
}
@media screen and (min-width: 600px) {
  .task-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.single-task{
  
  text-align: left;
  border: none;
  /* height:15rem;
  max-width: 15rem; */
}
h2{
  color: white;
}
legend{
  background-color: white;
}
.new-task-form {
  background-color: white;
}
#edit-task-form{
  background-color: white;
  text-align: right;
  align-content: right;
  margin: 1rem;
  /* z-index: 5; */
  /* transform: translate(, -1rem); */
  width: fit-content;
  
}
.index-single-task{
  width: 80vw;
}
@media screen and (min-width: 600px){
  .index-single-task{
    width: 30vw;
  }
  
}

#fieldsetbox{
  display: flex;
  /* height: 15rem;
  width: 15rem; */
}
fieldset{
  border: 3px
}
.index-single-task-details{
  word-wrap: break-word;
  /* width: 10rem; */
  height: stretch;
}
button {
  background-color: rgba(230, 225, 225, 0.5);
  border: 0;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;
  width: 100%; /* Large, mobile-friendly touch target */

  /* Media Queries */
  @media (min-width: 37.5em) {
    width: auto; /* Smaller buttons on larger screens */
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.top-bar{
  display: flex;
  position: fixed;
  color: red;
  background-color: beige;
}
.new-task-button{
  /* background-image: url("/public/16057.png"); */
  /* background-color: red; */
  /* color: red; */
  /* color: beige; */
  position: fixed;
  top: .3rem;
  right: .3rem;
  /* width: 7rem; */
}